<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
</head>

<body class="bg-white dark-gray sans-serif">
    <main class="ph6-l ph0-m ph0 ">
        {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
</body>

</html>